<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Haus &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css4/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/css4/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css4/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  {% block body %}
                 
  {% endblock body %}   

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="{% static 'js/css4/scripts.min.js' %}"></script>
  <script src="{% static 'js/css4/main.min.js' %}"></script>
  <script src="{% static 'js/css4/custom.js' %}"></script>

  </body>
</html>
