{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="row">
      {% for property in property_list %}
        <div class="col-md-4 col-sm-6">
          <div class="probootstrap-card probootstrap-listing">
            <div class="probootstrap-card-media">
              <img src="{{property.image.url}}" class="img-responsive" >
              <!--a href="#" class="probootstrap-love"><i class="icon-heart"></i></a-->
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading"><a href="#"> {{property.hotel_name}} </a></h2>
              <div class="probootstrap-listing-location">
                <!--i class="icon-location2"></i--> <span> {{property.category}} </span>
              </div>
              <!--div class="probootstrap-listing-category for-sale"><span>for sale</span></div-->
              <div class="probootstrap-listing-price"><strong>{{property.cost}}</strong> / day</div>
            </div>
            <!--div class="probootstrap-card-extra">
              <ul>
                <li>
                  Area
                  <span>2400 m2</span>
                </li>
                <li>
                  Beds
                  <span>3</span>
                </li>
                <li>
                  Baths
                  <span>2</span>
                </li>
                <li>
                  Garages
                  <span>1</span>
                </li>
              </ul>

            </div-->
          </div>
       
        </div>
       {% endfor %}
      </div>
    </div>
  </section>

 

					
{% endblock body %}				           
												
		

	
		

