<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tour Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        {% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/css3/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/css3/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/css3/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/css3/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/css3/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/css3/owl.theme.default.min.css' %}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap-datepicker.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/fonts3/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/css3/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/js3/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="oyo-loader"></div>

	<div id="page">
		<nav class="oyo-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="oyo-logo"><a href="index.html">Les Hotels</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="{% url 'home' %}">Home</a></li>
                                                                <li><a href="{% url 'hotels' %}">Our Choices</a></li>
								<li><a href="{% url 'services' %}">Packages</a></li>
								<li class = "active"><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                                {% if user.is_authenticated %}
                                                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                                                <li><a href="{% url 'login' %}">Log In</a></li>
                                                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="oyo-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'images/images3/cover-img-5.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>by oyo.com</h2>
				   					<h1>About us</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div id="oyo-about">
			<div class="container">
				<div class="row">
					<div class="about-flex">
						<div class="col-one-forth aside-stretch animate-box">
							<div class="row">
								<div class="col-md-12 about">
									<h2>About</h2>

									<ul>
										<li><a href="#">History</a></li>
										<li><a href="#">Staff</a></li>
										<li><a href="#">Connect with us</a></li>
										<li><a href="#">Faqs</a></li>
										<li><a href="#">Career</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-three-forth animate-box">
							<h2>History</h2>
							<div class="row">
								<div class="col-md-12">
									<p>Our goal is to change the way people stay away from home </p>

									<p>We are World's fastest growing hotel chain spread across 800 cities with 23,0000+ hotels offering standardized and hassle-free stay experiences at an unmatched price. </p>

									<p>Les Hotels promises to provide the same amenities and the same awesome experience across all its rooms. </p>

									<div class="row row-pb-sm">
										<div class="col-md-6">
											<img class="img-responsive" src="{% static 'images/images3/hotel-7.jpg' %}" alt="">
										</div>
										<div class="col-md-6">
											<p>Les offers rooms at prices that no other player in the budget segment offers today.</p>
											<p>The most advanced hospitality tech takes shape here. We introduced pioneering technology to the hospitality industry to deliver better and more efficient operations, management, service and CRM. Our app allows a user to book a room in just 3 taps, or within 5 seconds.
</p>
										</div>
									</div>


									<p>From a single hotel in May 2013 to over 23,000+ hotels at present, ours has been an exciting journey. Our aim is to become the world’s most loved hotel brand.</p>

									<p>
You can now find Les Hotels in 800 cities across the globe
</p>

									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	<!-- jQuery -->
	<script src="{% static 'js/js3/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/js3/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/js3/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/js3/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/js3/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/js3/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/js3/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/js3/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/js3/bootstrap-datepicker.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/js3/jquery.stellar.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'js/js3/main.js' %}"></script>

	</body>
</html>

