<!--h1>Django Login Mega-Tutorial</h1>
{% if user.is_authenticated %}
<form action="https://youtu.be/dl5U1iULTjQ">
<!--p>Hi {{ user.username }} </p>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
<p><a href="{% url 'logout' %}">Log out</a></p>
{% endif %}-->
<!DOCTYPE HTML>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
       
	<title>Les Hotels</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        {% load staticfiles %}
        <!--link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <script src="js/jquery-1.12.4.js"></script>
        <script src="js/jquery-ui.js"></script-->
        
	<!--link href ="{% static 'jquery/jquery-ui.css' %}" rel='stylesheet'-->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all">	
	<!--link href="jquery-ui.css" rel="stylesheet">
        <script src="jquery.js"></script>
        <script src="jquery-ui.js"></script-->
        <!--script>
                $(document).ready(function () {
                       var minDate = new Date();
                        $("#depart").datepicker({
                            showAnim: 'drop',
                            numberOfMonth: 1,
                            minDate: minDate,
                            dateFormat: 'dd/mm/yy',
                            
                            onClose: function (selectedDate){
                                $('#return').datepicker("option","minDate",selectedDate);
                            }
                        });
                        $("#return").datepicker({
                            showAnim:'drop',
                            numberOfMonth: 1,
                            minDate:minDate,
                            dateFormat:'dd/mm/yy',
                            onClose:function (selectedDate){
                                $('#depart').datepicker("option","minDate",selectedDate);
                           }
                        });

                });
        </script-->
        <!--script>
        $(function () {
            $("input[id*='depart']").datepicker({
                minDate: new Date(2019,7,6)
            });
            $("input[id*='return']").datepicker({
                minDate: new Date()
            });
            
        })
        </script-->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/css3/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/css3/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/css3/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/css3/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/css3/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/css3/owl.theme.default.min.css' %}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap-datepicker.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/fonts3/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/css3/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/js3/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="oyo-loader"></div>

	<div id="page">
		<nav class="oyo-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="oyo-logo"><a href="index.html">LES HOTELS</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'hotels' %}">Our Choices</a></li>
								<li><a href="{% url 'services' %}">Packages</a></li>
			
	      							<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                                {% if user.is_authenticated %}
                                                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                                                <li><a href="{% url 'login' %}">Log In</a></li>
                                                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="oyo-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('{% static 'images/images3/img_bg_1.jpg' %}');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   					
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('{% static 'images/images3/img_bg_2.jpg' %}');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('{% static 'images/images3/img_bg_5.jpg' %}');">
			   		<div class="overlay"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('{% static 'images/images3/img_bg_4.jpg' %}');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>	   	
			  	</ul>
		  	</div>
		</aside>
		<div id="oyo-reservation">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="search-wrap">
						<div class="container">
							<ul class="nav nav-tabs">
								<li><a data-toggle="tab" href="#hotel"><i class="flaticon-resort"></i>Hotels/Home-Stays/Resorts</a></li>
								
							</ul>
						</div>
						<div class="tab-content">
							<div id="hotel" class="tab-pane fade in active">
								<form method="get" class="oyo-form" action = "{% url 'property:property_list' %}">
				              	<div class="row">
				              	 <div class="col-md-3">
				              	 	<div class="form-group">
				                    <label for="date">Location:</label>
				                    <div class="form-field">
				                      <input type="text" name="q" id="location" class="form-control" placeholder="Search Location" value = '{{request.GET.q}}'>
				                    </div>
				                  </div>
				              	 </div>
				                <div class="col-md-2">
				                  <div class="form-group">
				                    <label for="date">Check-in:</label>
				                    <div class="form-field">
				                      <!--i class="icon icon-calendar2"></i-->
                                                      <!--input type = 'date'>
                                                           {{ExampleForm.my_date_field}}-->
				                       <input type="text" id="depart"  placeholder="mm/dd/yyyy">
                                                      <!--script type="text/javascript">
                                                         $(function () {
                                                             $("#depart").datepicker({
                                                             format: "dd/mm/yyyy",
                                                             autoclose: true,
							     todayHighlight: true,
							     showOtherMonths: true,
                                                             selectOtherMonths: true,
                                                             autoclose: true,
                                                             changeMonth: true,
                                                             changeYear: true,
                                                             minDate:new Date(05/07/2019) 
                                                             });
                                                         });
                                                      </script-->
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-2">
				                  <div class="form-group">
				                    <label for="date">Check-out:</label>
				                    <div class="form-field">
                                                      <!--input type = 'date'>
                                                           {{ExampleForm.my_date_field}}-->
				                      <!--i class="icon icon-calendar2"></i-->
				                       <input type="text" id="return"  placeholder="mm/dd/yyyy">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-3">
				                  <div class="form-group">
				                    <label for="guests">Guest</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="people" id="people" class="form-control">
				                        <option value="#">1</option>
				                        <option value="#">2</option>
				                        <option value="#">3</option>
				                        <option value="#">4</option>
				                        <option value="#">5</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-2">
                                                   
				                  <input type="submit" name="submit" id="submit" value="Find Rooms" class="btn btn-primary btn-block">
				                </div>
				              </div>
				            </form>
				         </div>
				        
						  
				       
					</div>
				</div>
			</div>
		</div>

		<div id="oyo-services">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-4 animate-box text-center aside-stretch">
						<div class="services">
							<span class="icon">
								<i class="flaticon-around"></i>
							</span>
							<h3>Amazing Offers</h3>
							<p>Top-rated hotels curated for you.Get 25% off across india.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-postcard"></i>
							</span>
							<h3>Les Wallets</h3>
							<p>Get amazing rewards by using our wallet</p>
						</div>
					</div>
					<div class="col-md-4 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-island"></i>
							</span>
							<h3>Perfect Vacay Stays</h3>
							<p>Let us guide you through a perfect vacation stays in any season</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="oyo-tour oyo-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center oyo-heading animate-box">
						<h2>Weekend-Getaways</h2>
						
					</div>
				</div>
			</div>
			<div class="tour-wrap">
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-1.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family stay at Tibetan Township</h2>
						<span class="city">Dharamshal, Delhi</span>
						<span class="price">Rs.4500</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-2.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family trip to Adventure Capital</h2>
						<span class="city">Rishikesh, Himalayas</span>
						<span class="price">Rs.2500</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-3.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Spot the tigers</h2>
						<span class="city">Jim Corbett National Park,</span>
						<span class="price">Rs.3670</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-4.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Explore the heritage and history</h2>
						<span class="city">Taj Mahal,Agra</span>
						<span class="price">Rs.5300</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-5.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>A perfect monsoon getaway</h2>
						<span class="city">Kaas, Bombay</span>
						<span class="price">Rs.2450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-6.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Beach Paradise</h2>
						<span class="city">Tarkarli, Maharashtra</span>
						<span class="price">Rs.3450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-7.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Enjoy Hilltop Beautiful sceneries</h2>
						<span class="city">Kullu Manali</span>
						<span class="price">Rs.4444</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url('{% static 'images/images3/tour-8.jpg' %}');">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Stunning Beach State</h2>
						<span class="city">Goa</span>
						<span class="price">Rs.4999</span>
					</span>
				</a>
			</div>
		</div>




		<div id="oyo-hotel">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center oyo-heading animate-box">
						<h2>Recommended Hotels</h2>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="owl-carousel">
							<div class="item">
								<div class="hotel-entry">
									<a href="{% url 'hotel-room' %}" class="hotel-img" style="background-image: url('{% static 'images/images3/hotel-1.jpg' %}');">
										<p class="price"><span>Rs.7,000</span><small> /night</small></p>
									</a>
									<div class="desc">
										<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
										<h3><a href="#">Novotel, Hyderabad</a></h3>
										<span class="place">RGIA, Shamshabad</span>
										<p></p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="hotel-entry">
									<a href="{% url 'hotel-room' %}" class="hotel-img" style="background-image: url('{% static 'images/images3/hotel-2.jpg' %}');">
										<p class="price"><span>Rs,8,999</span><small> /night</small></p>
									</a>
									<div class="desc">
										<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 455 Reviews</p>
										<h3><a href="#">Novotel, Mumbai</a></h3>
										<span class="place">Juhu Beach,Maharashtra</span>
										<p></p>						</div>
								</div>
							</div>
							<div class="item">
								<div class="hotel-entry">
									<a href="{% url 'hotel-room' %}" class="hotel-img" style="background-image: url('{% static 'images/images3/hotel-3.jpg' %}');">
										<p class="price"><span>Rs.8,657</span><small> /night</small></p>
									</a>
									<div class="desc">
										<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 10,768 Reviews</p>
										<h3><a href="#">Novotel, New Delhi</a></h3>
										<span class="place">IGI Airport,New Delhi</span>
										<p></p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="hotel-entry">
									<a href="{% url 'hotel-room' %}" class="hotel-img" style="background-image: url('{% static 'images/images3/hotel-4.jpg' %}');">
										<p class="price"><span>Rs.10,000</span><small> /night</small></p>
									</a>
									<div class="desc">
										<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 12,345 Reviews</p>
										<h3><a href="#">Novotel,Goa</a></h3>
										<span class="place">Shrem Hotel,Candolim</span>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		
		

	
		<div id="oyo-subscribe" style="background-image: url('{% static 'images/images3/img_bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center oyo-heading animate-box">
						<h2>Sign Up for a Newsletter</h2>
						<p>Sign up for our mailing list to get latest updates and offers.</p>
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
										<button type="submit" class="btn btn-primary">Subscribe</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/js3/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/js3/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/js3/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/js3/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/js3/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/js3/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/js3/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/js3/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/js3/bootstrap-datepicker.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/js3/jquery.stellar.min.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/js3/main.js' %}"></script>
        <!--script src="{% static 'js/jquery-2.2.4.js' %}"></script>
        <script src="{% static 'jquery/jquery-ui.js' %}"></script-->
        <script>
                var dateToday = new Date();
                var dates = $("#depart, #return").datepicker({
                  defaultDate: "+1w",
                  changeMonth: true,
                  minDate: dateToday,
                  onSelect: function(selectedDate) {
                    var option = this.id == "from" ? "minDate" : "maxDate",
                      instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                             dates.not(this).datepicker("option", option, date);
                    }
                });
       </script>
     </body>
</html>

