<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
       
	<title>Tour Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        {% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/css3/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/css3/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/css3/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/css3/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/css3/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/css3/owl.theme.default.min.css' %}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap-datepicker.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/fonts3/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/css3/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/js3/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="oyo-loader"></div>

	<div id="page">
		<nav class="oyo-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="oyo-logo"><a href="index.html">Les Hotels</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<!--li class="active"><a href="index.html">Home</a></li>
								<li><a href="{% url 'hotels' %}">Our Choices</a></li>
								<li><a href="{% url 'services' %}">Packages</a></li>
			
	      							<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="oyo-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'images/images3/cover-img-4.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   					<h1>Hotel Overview</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="oyo-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="wrap-division">
									<div class="col-md-12 col-md-offset-0 heading2 animate-box">
										<h2>novotel</h2>
									</div>
									<div class="row">
										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-1.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Family Room</h2>
															<p class="price"><span>4500/-</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-2.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Luxury Room</h2>
															<p class="price"><span>7500/-</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-3.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Double Room</h2>
															<p class="price"><span>4000/-</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-4.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Suite Room</h2>
															<p class="price"><span>2000/-</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-5.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Superior Double Room</h2>
															<p class="price"><span>5000/-</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="room-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="room-img" style="background-image: url({% static 'images/images3/room-6.jpg' %});"></div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="desc">
															<h2>Classic Double Room</h2>
															<p class="price"><span>4800/--</span> <small>/ night</small></p>
															
															<p><a href="#" class="btn btn-primary">Book Now!</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- SIDEBAR-->
					
		
					

	<!-- jQuery -->
	<script src="{% static 'js/js3/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/js3/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/js3/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/js3/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/js3/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/js3/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/js3/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/js3/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/js3/bootstrap-datepicker.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/js3/jquery.stellar.min.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/js3/main.js' %}"></script>

	</body>
</html>
