<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tour Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        {% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/css3/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/css3/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/css3/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/css3/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/css3/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/css3/owl.theme.default.min.css' %}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/css3/bootstrap-datepicker.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/fonts3/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/css3/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/js3/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="oyo-loader"></div>

	<div id="page">
		<nav class="oyo-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="oyo-logo"><a href="index.html">Les Hotels</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="{% url 'home' %}">Home</a></li>
                                                                <li><a href="{% url 'hotels' %}">Our Choices</a></li>
								<li class="active"><a href ="{% url 'services' %}">Packages</a></li>
						                <li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                                {% if user.is_authenticated %}
                                                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                                                <li><a href="{% url 'login' %}">Log In</a></li>
                                                                {% endif %}
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<aside id="oyo-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'images/images3/cover-img-3.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   		
				   					<h1>Our Services</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div id="oyo-services">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-around"></i>
							</span>
							<h3>Save Big Travel Better</h3>
							<p>Pay using Spay and get 25% off</p>
						</div>
					</div>
					<div class="col-md-4 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-landmark"></i>
							</span>
							<h3>wedding Venues</h3>
							<p>Here are some amazing filmy venues for your wedding</p>
						</div>
					</div>
					<div class="col-md-4 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-resort"></i>
							</span>
							<h3>Suits</h3>
							<p>Suits at a price like no where</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		
	<!-- jQuery -->
	<script src="{% static 'js/js3/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/js3/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/js3/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/js3/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/js3/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/js3/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/js3/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/js3/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/js3/bootstrap-datepicker.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/js3/jquery.stellar.min.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'js/js3/main.js' %}"></script>

	</body>
</html>

