<!--DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 420px; 
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>WELCOME</h2>

<div class="row">
  <div class="column">
    <img src="{% static 'images/images1/abc.jpg' %}" height="410" width="650">
  </div>
  <div class="column">
        <h2>REGISTRATION</h2>
        <form method="post">
           {% csrf_token %}
           {{ form.as_p }}
           <button type="submit">Sign up</button>
        </form>
  </div>
</div>

</body>
</html-->
 




{% load static %}


 
<html lang = "en">

<head>
    <style>
 .container{
    background:transparent;
    padding:30px;
    color:white;
    width:500px;
    height:650px;
    color: #ffffff;
    top:40%;
    left:60%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: -1px 1px 60px 10px black ;
    margin-top:75px;
}

.form-control{
    background:transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 25px;
    margin-top:35px;
    color:black;
    padding-right: 10px;
    
}
*{
    margin:0px;
    padding:0px;
}
body{
    background-image: url({% static "images/images3/cover-img-4.jpg" %});
    
    background-size: 100% 100%;
    width:100%;
    height:400px;
    background-attachment: fixed;
    font-family: new time 'Times New Roman', Times, serif;
    
}
h1{
    font-size:45px;
    color:white;
    margin-top:0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;

}

input[type="checkbox"]{
    margin-top:25px;
}
button{
    margin-top:25px;
    width:100px;
    font-size:19px;
    margin-left:40%;
       
}
p{
    font-size:23px;
    margin-top:25px;
    color:white;
    font-weight:bold;
}
.col-md-6{
    background:rgba(0,0,0,0,8);
    margin-top: 50px;
    /*box-shadow:-1px 1px 60px 10px;*/
    
}
input[type=text],input[type=password],input[type=Email]{
    width:240px;
    height: 20px;
    display:inline-block;

}

 </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign for free</title>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h1 class="text-center">Sign Up</h1>
              
		{% block content %}
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
		 
                
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>

    </div>
    
    
		
		
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
		
		


</body>

</html>


